@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    --custom-background-color: #F9FFF8;
    --custom-text-light-color: #F5FFE6;
    --custom-cta-color: #004E35;
    --custom-decorative-green-color: #004E35;
    --custom-text-dark-color: #052610;
    --custom-footer-color:#03180A;

    --text-primary: var(--custom-text-dark-color);
    --text-secondary: var(--custom-text-light-color);

    --custom-decorative-light-green-color: #ABCD48;
    --custom-decorative-yellow-color: #FDDB00;
    --custom-decorative-red-color: #C63131;
    --custom-decorative-orange-color: #FAC202;
}

h1{
    font-weight: bold;
    font-size: clamp(35px, 5vw,  72px);
}
h2{
    font-weight: 600;
    font-size: clamp(28px, 3.5vw,  56px);
}
h3{
    font-weight: 600;
    font-size: clamp(21px, 2.5vw,  36px);
}
h4{
    font-weight: 600;
    font-size: clamp(14px, 2vw,  28px);
}
body{
    background-color: var(--custom-background-color);
    font-family: 'Quicksand', sans-serif;
    color: var(--custom-text-dark-color);
    font-size: clamp(14px, 2vw,  22px);
    font-weight: normal;
}

a {
    color: var(--custom-text-dark-color);
}



/* NAVBAR */
.navbar a{
    color: var(--custom-text-dark-color);
    font-weight: bold;
    overflow:hidden;
}
.compcentralemenu .active{
    text-decoration: underline;
}
.nav-item img{
    margin-right: 10px;
    margin-left: 2px;
    margin-top: -5px;
}

.nav-link:not(.active) img{
    transition: width 500ms ease-in-out, margin-right 500ms ease-in-out, margin-left 500ms ease-in-out;
    width: 0;
    margin-right: 0;
    margin-left: 0;
}


@media only screen and (min-width: 992px) {
    .compcentralemenu a{
        border: solid 2px;
        border-radius: 30px;
        border-color: var(--custom-decorative-green-color);
        overflow: hidden;
    }

    .compcentralemenu .active{
        background-color: var(--custom-decorative-green-color);
        color: var(--custom-text-light-color) !important;
        text-decoration: none;
    }
    .compcentralemenu a:hover:not(.active){
        background-color: var(--custom-decorative-green-color);
        background-size: cover;
        color: var(--custom-text-light-color);
    }
    .compcentralemenu a:hover:not(.active) img{
        transition: width 500ms ease-in-out, margin-right 500ms ease-in-out, margin-left 500ms ease-in-out;
        width: 20px;
        margin-right: 10px;
        margin-left: 2px;
    }
}
@media only screen and (max-width: 992px) {
    .compcentralemenu a:hover:not(.active) {
        text-decoration: underline;
        transition: text-decoration 1s ease;;
    }
    .compcentralemenu a:hover:not(.active) img{
        transition: width 500ms ease-in-out, margin-right 500ms ease-in-out;
        width: 20px;
        margin-right: 10px;
    }

    .container-fluid{
        float: right;
    }
}
/* FINE NAVBAR */


/*CARD*/

.corpocard {
    background-color: var(--custom-background-color);
    text-align: left;
}
.corpocardark {
    background-color: var(--custom-decorative-green-color);
}
.imgcard{
    object-fit: cover;
    width: 18vw;
    aspect-ratio: 1 / 1;
}
.imgcardmobile {
    object-fit: cover;
    width: 36vw;
    aspect-ratio: 1 / 1;
}
.imgcardmobile:hover {
    border: 4px solid;
    border-color: var(--custom-decorative-orange-color);
}

.borderimgcard {
    background-color: var(--custom-background-color);
}
.borderimgcardark {
    background-color: var(--custom-decorative-green-color);
}

.imgcard:hover {
    border: 4px solid;
    border-color: var(--custom-decorative-orange-color);
}

.carousel-prev-icon:hover{
    content: url("/img/frecciaSxHover.svg");
}
.carousel-next-icon:hover{
    content: url("/img/frecciaDxHover.svg");
}
.carousel-prev-icon, .carousel-next-icon {
    width: 6vw;
    height: 6vw;
    transition: width 200ms ease-in-out, height 200ms ease-in-out;
}
.carousel-prev-icon:hover, .carousel-next-icon:hover{
    width: 6.5vw;
    height: 6.5vw;
    transition: width 200ms ease-in-out, height 200ms ease-in-out;
}

/* FINE CARD*/




/* BOOOOOOOOOOOOOOTTONEEEEEEEEEEE */
.lightButton, .darkButton{
    border-radius: 30px;
    border: solid 2px;
    width: auto;
    opacity: 1;
    transition: border-color 200ms ease-in-out, background-color 200ms ease-in-out;
}
.darkButton{
    color: var(--custom-text-light-color);
    border-color: var(--custom-text-light-color);
    background-color: var(--custom-cta-color);
}
.darkButton:hover{
    color: var(--custom-text-dark-color);
    border-color: var(--custom-text-light-color);
    background-color: var(--custom-text-light-color);
}
.lightButton{
    color: var(--custom-text-dark-color);
    border-color: var(--custom-cta-color);
    background-color: var(--custom-background-color);
}
.lightButton:hover{
    color: var(--custom-text-light-color);
    border-color: var(--custom-cta-color);
    background-color: var(--custom-cta-color);
}
.buttonText{
    margin: 1vw;
    display: block;
    font-weight: bold;
}
.buttonText img{
    margin-right: 1vw;
    width: clamp(14px, 2vw,  25px);
    margin-top:-3px;
}

/* BOOOOOOOOOOOOOOTTONEEEEEEEEEEE class="btn fw-bold btn-outline-success text-uppercase allineamento bottone" */



/*  form */
form {
    color:var(--custom-text-dark-color) !important;
}
.formpiccoli {
    width: 25vw;
    margin:auto;
    display:block;
    border-radius: 15px;
}

.riempimento {
    background-color: #81C295;
    opacity: 35%;
}

.contenitoriscelteform {
    width: 9vw;
    text-align: center;
}

.colorecheck {
    border-color: var(--custom-decorative-green-color);
    border-width: 2px;
    background-color: var(--custom-background-color);
}

.formmess {
    width: 60vw;
    height: 32vh;
    background-color: RGBA(129,194,149, .35);
    border-radius: 15px;
    border-color: RGBA(129,194,149,.35);
}


@media only screen and (max-width: 992px) {
    .formpiccoli {
        width: 75vw;
        border-radius: 30px;
    }

    .formmess {
        width: 75vw;
        height: 32vh;
        margin:auto;
        display:block;
        background-color: RGBA(129,194,149, .35);
        border-radius: 15px;
        border-color: RGBA(129,194,149,.35);
    }

    .contenitoriscelteform {
        width: 75vw;

    }
}

.leafButtonDark:hover img{
    content: url("/img/darkLeaf.svg");
}
/* fine form */


/* Sezione social About us */
.contenitoreicone {
    max-width: 25vw;
}

.contenitoreicone img {
    padding-left: 0.7vw;
    padding-right:0.7vw;
}

@media only screen and (max-width: 992px) {
    .contenitoreicone {
        max-width: 43vw;
    }

    .contenitoreicone img {
        width:74%;
        padding-left: 0.7vw;
        padding-right: 0.7vw;
    }
}
/* FINE sezione social About us */





/* SEZIONE APP */
.colonneimmagine {
    width: 50%;
}
.colonneimmagine img {
    width: 99%;
    padding-right: 3vw;
}


@media only screen and (max-width: 992px) {
    .colonneimmagine img {
        width: 100%;
    }
    .imgdow {
        margin-bottom: 6px !important;
    }
}

.traguardi {
    width: 20vw;
    text-align: center;
}

@media only screen and (max-width: 660px) {
    .iconetraguardi {
        width: 28%;
    }
}
/* FINE SEZIONE APP */



/* ARTICOLO */
.titoloart {
 color: var(--custom-text-light-color);
}

.articleseparator {
    width: 28vw;
    border: 2px solid;
    color: var(--custom-text-dark-color);
    opacity: 100;
}

.references a {
    color: var(--custom-text-dark-color);
}

.iconarticle {
    width: 3vw;
    height: 5vh;
}

.iconarticlemobile {
    width: 9vw;
    height: 11vh;
}

.articleHeader{
    position: relative;
    overflow: hidden;
    z-index: -1;
}
.articleHeader img{
    display: block;
    object-fit: cover;

    text-align: center;
    width: 100%;
    height: 455px;
}
.articleTitle{
    position: absolute !important;
    bottom: 10px;
    color: var(--custom-text-light-color);
}


.imgalbero {
    transform: scaleX(-1);
}

.listrecipe {
    list-style: none;
    padding-left: 0;
}



/* ARTICOLI */





/* FOOTER */


/* FINE FOOTER */




/* BLOCCO SCURO BLOCCO SCURO BLOCCO SCURO*/
.erbaDecorativa{
    width: 100%;
    position: absolute;
    margin-top: -7.7%;
}

@media only screen and (max-width: 500px) {
    .erbaDecorativa{
        margin-top: -7.5%;
    }
}

.erbaDecorativav2 {
    width: 100%;
    position: absolute;
    margin-top: -5.5%;
}

.bloccoScuro{
    background-color: var(--custom-decorative-green-color);
    color: var(--custom-text-light-color);
    margin-top:12%;
}

.allineamento {
    margin: auto;
    display: block;
}

/*BLOCCO SCURO BLOCCO SCURO*/