@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    --custom-background-color: #F9FFF8;
    --custom-text-light-color: #F5FFE6;
    --custom-cta-color: #004E35;
    --custom-decorative-green-color: #004E35;
    --custom-text-dark-color: #052610;
    --custom-footer-color:#03180A;

    --text-primary: var(--custom-text-dark-color);
    --text-secondary: var(--custom-text-light-color);

    --custom-decorative-light-green-color: #ABCD48;
    --custom-decorative-yellow-color: #FDDB00;
    --custom-decorative-red-color: #C63131;
    --custom-decorative-orange-color: #FAC202;
}

body{
    background-color: var(--custom-background-color);
    font-family: 'Quicksand', sans-serif;
}

/* NAVBAR */
.navbar a{
    color: var(--custom-text-dark-color);
    font-weight: bold;
    overflow:hidden;
}
.compcentralemenu .active{
    text-decoration: underline;
}
.nav-item img{
    margin-right: 10px;
    margin-left: 2px;
    margin-top: -5px;
}

.nav-link:not(.active) img{
    transition: width 500ms ease-in-out, margin-right 500ms ease-in-out, margin-left 500ms ease-in-out;
    width: 0;
    margin-right: 0;
    margin-left: 0;
}


@media only screen and (min-width: 992px) {
    .compcentralemenu a{
        border: solid 2px;
        border-radius: 30px;
        border-color: var(--custom-decorative-green-color);
        overflow: hidden;
    }

    .compcentralemenu .active{
        background-color: var(--custom-decorative-green-color);
        color: var(--custom-text-light-color) !important;
        text-decoration: none;
    }
    .compcentralemenu a:hover:not(.active){
        background-color: var(--custom-decorative-green-color);
        background-size: cover;
        color: var(--custom-text-light-color);
    }
    .compcentralemenu a:hover:not(.active) img{
        transition: width 500ms ease-in-out, margin-right 500ms ease-in-out, margin-left 500ms ease-in-out;
        width: 20px;
        margin-right: 10px;
        margin-left: 2px;
    }
}
@media only screen and (max-width: 992px) {
    .compcentralemenu a:hover:not(.active) {
        text-decoration: underline;
        transition: text-decoration 1s ease;;
    }
    .compcentralemenu a:hover:not(.active) img{
        transition: width 500ms ease-in-out, margin-right 500ms ease-in-out;
        width: 20px;
        margin-right: 10px;
    }

    .container-fluid{
        float: right;
    }
}

/* FINE NAVBAR */





/* CARD */
.img-wrapper  {
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
img{
    max-width:100%;
    max-height: 100%;
}


@media screen and (min-width: 576px){
    .carousel-inner{
        display:flex;
    }
    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
    .img-wrapper  {
        height:23vw;
    }
}

.carousel-inner{
    padding:1em;
}
.card {
    margin: 0 .5em;
}

.carousel-control-prev, .carousel-control-next{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
    opacity: .8;

}


/*CARD */


















/* FOOTER */
footer {
    background-color: var(--custom-footer-color);
}

footer p, a, h6 {
    color: var(--custom-text-light-color);
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--custom-text-light-color);
}

.immaginicard:hover {
    border: 5px solid;
    border-color: var(--custom-decorative-yellow-color);


}

.corpocard {
    background-color: var(--custom-background-color);

}

/* FINE FOOTER */